<html lang="it" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="home-user(quizzes, risultati,aula)">
	
		<script >
			$(document).ready(function navbarName(){
				var navName = document.getElementsByTagName('title');
				document.getElementById('navbar-title').innerHTML = navName[0].innerText;
			});
		</script>
					
		<div th:if="${session.ruoloUtente == 0}" class="nav-item">
					
		<table class="table table-striped">
	  			<thead>
				    <tr>
				      	<th scope="col">Quiz</th>
				      	<th scope="col">Esegui</th>
						<th scope="col">Risultato</th>
				    </tr>
				</thead>
	  			<tbody>
		   			<tr th:each="quiz : ${quizzes}">
						<td th:text="${quiz.temaQuiz.nome}"></td>
						<td>
							<a th:if="${not #lists.contains(risultati.![quiz.id], quiz.id)}" th:href=" '/esegui-quiz' + '/'+ ${session.idUtente} +'/' + ${quiz.id}" class="btn btn-primary">
								Esegui
							</a>

							<button th:unless="${not #lists.contains(risultati.![quiz.id], quiz.id)}" class="btn btn-primary" disabled>Esegui</button>
						</td>
						<td>
							<a th:if="${#lists.contains(risultati.![quiz], quiz)}" th:href=" '/results/' + ${aula.id} +'_'+ ${quiz.id} + '_'+ ${session.idUtente}" class="btn btn-primary">
								Visualizza
							</a>
							<button th:unless="${#lists.contains(risultati.![quiz], quiz)}" class="btn btn-primary" disabled>Visualizza</button>
						</td>
					</tr>
	  			</tbody>
		</table>
		</div>


	</div>
</html>