<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credits</title>
    <style>
        body {
            background-image: url('images/texture_black.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color: white;
            text-shadow: 2px 2px 4px #00ff00;
        }
    </style>
</head>
<body>
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../images/logo_progetto.png" width="50" height="50" alt="Logo">
        </a>
        <br>
        <br>
        <button onclick="window.location.href='/login'" class="btn btn-dark me-2 text-light fs-6 fs-md-4">
            Indietro
        </button>
        <br>
        <br>
        <img src="../../images/20240216_093550.jpg" width="500" height="400">
        <img src="../../images/20240216_093601.jpg" width="600" height="400" style="margin-left: 10px;">
        <br>
        <p style="font-size: 24px;">Classe Akt 2023-2024 :</p>
        <p style="font-size: 24px;">Diego Di Forti</p>
        <p style="font-size: 24px;">Rosa Dicorato</p>
        <p style="font-size: 24px;">Samuele Romanelli</p>
        <p style="font-size: 24px;">Valerio Ruggieri</p>
        <p style="font-size: 24px;">Emanuele Ercoletti</p>
        <p style="font-size: 24px;">Nicola Salvi</p>
        <p style="font-size: 24px;">Federico Granaldi</p>
        <p style="font-size: 24px;">Riccardo La Pietra</p>
        <p style="font-size: 24px;">Rodrigo Lacarrubba Rolon</p>
        <p style="font-size: 24px;">Edoardo Garabagiu</p>
        
    </div>
</body>
</html>
