<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style th:replace="~{fragments/stile-head :: stile-head}"></style>
    <title>Lista Studenti</title>
</head>
<body>
    <header th:insert="~{fragments/navbar.html :: navmenu}"></header>
    
    <div class="container">
        <h1>LISTA STUDENTI</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Disabilitato</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="utenti : ${listastudenti}">
                    <td th:text="${utenti.id}">#</td>
                    <td th:text="${utenti.nome}">Nome</td>
                    <td th:text="${utenti.cognome}">Cognome</td>
                    <td th:text="${utenti.email}">Email</td>
                    <td th:text="${utenti.telefono}">Telefono</td>
                    <td><input type="checkbox" th:value="${utenti.isEnabled}" th:checked="${utenti.isEnabled}" disabled/></td>	
                    <td><a th:href="'/modificastudente/' + ${utenti.id}"><button class="btn btn-primary">Modifica Studente</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
