<!DOCTYPE html>
<html lang=it xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<title>Lista Domande</title>
</head>
<body>

	<h1>LISTA DOMANDE</h1>

	<a href="/listatemi"><button class="btn btn-primary4">Lista
			Temi</button></a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Quesito</th>
				<th scope="col">Risposta 1</th>
				<th scope="col">Risposta 2</th>
				<th scope="col">Risposta 3</th>
				<th scope="col">Risposta 4</th>
				<th scope="col">Risposta Giusta</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="domanda : ${listadomande}">
				<td th:text="${domanda.id}">#</td>
				<td th:text="${domanda.quesito}">Quesito</td>
				<td th:text="${domanda.risposta1}">Risposta 1</td>
				<td th:text="${domanda.risposta2}">Risposta 2</td>
				<td th:text="${domanda.risposta3}">Risposta 3</td>
				<td th:text="${domanda.risposta4}">Risposta 4</td>
				<td th:text="${domanda.risposta_giusta}">Risposta Giusta</td>
			</tr>
		</tbody>
	</table>

</body>
</html>