<!DOCTYPE html>
<html 	lang=it 
		xmlns:th="http//www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link 	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
				rel="stylesheet">
		<title>Modifica Studente</title>
	</head>
	
<body>

	<h1>MODIFICA STUDENTE</h1>
	
	<form th:action="@{/utenteform}" method="post" th:object="${studente}">	
	
	 <div class="input-group mb-3">
  		<span class="input-group-text" id="inputGroup-sizing-default">ID</span>
  		<input type="text" th:value="${studente.id}" th:field="${studente.id}"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly="readonly">
	</div>
	
	<div class="input-group mb-3">
  		<span class="input-group-text" id="inputGroup-sizing-default">RUOLO</span>
  		<input type="text" th:value="${studente.ruolo}" th:field="${studente.ruolo}"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly="readonly">
	</div>
	
  	<div class="input-group mb-3">
  		<span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
  		<input type="text" th:value="${studente.nome}" th:field="${studente.nome}"  class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
	</div>
	
  	<div class="input-group mb-3">
  		<span class="input-group-text" id="inputGroup-sizing-default">Cognome</span>
  		<input type="text" th:value="${studente.cognome}" th:field="${studente.cognome}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
	</div>
	
	<div class="input-group mb-3">
  		<span class="input-group-text" id="inputGroup-sizing-default">Email</span>
  		<input type="text" th:value="${studente.email}" th:field="${studente.email}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
	</div>
	
	<div class="input-group mb-3">
  		<span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
  		<input type="text" th:value="${studente.telefono}" th:field="${studente.telefono}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
	</div>
	
	<div>
  		<label >Abilitato</label>
  		<input type="checkbox" th:checked="${studente.isEnabled}" th:field="*{enabled}">
	</div> 
	
	<div>  
		<button type="submit" class="btn btn-primary">Aggiorna Studente</button>
	</div> 
	</form>
</body>
</html>